name: "Simple Lambda Build and Deploy"

on:
    push:
        branches: 
            - 'dev'
        paths:
            - '.github/workflows/simple_lambda.yaml'
            - 'lambdas/simple/**'
    
jobs:
    build-and-publish:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: read
        steps:
            - name: Code Checkout
              uses: actions/checkout@v3

            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v3
              with:
                role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_ROLE_TO_ASSUME }}
                aws-region: ${{ vars.AWS_REGION }}
                role-session-name: GithubActionsECRPushSession

            - name: Create zip archive
              working-directory: ./lambdas/simple
              run: |
                sudo apt install zip
                zip -r archive.zip .

            - name: Upload zip to s3
              working-directory: ./lambdas/simple
              run: |
                aws s3 sync ./simple_lambda.zip s3://${{ vars.LAMBDA_BUCKET_NAME}}/simple_lambda.zip

            - name: Update AWS Lambda 
              working-directory: ./infra/core
              run: |
                aws lambda update-function-code \
                  --function-name  simple_lambda \
                  --s3-bucket ${{ vars.LAMBDA_BUCKET_NAME}}
                  --s3-key simple_lambda.zip
